body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
    min-height: 100vh;

}

body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 5px 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header.dark-mode {
    background-color: #222;
}

button, .nav-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .nav-btn:hover {
    background-color: #555;
}

button.dark-mode, .nav-btn.dark-mode {
    background-color: #555;
    color: #f4f4f4;
}

button.dark-mode:hover, .nav-btn.dark-mode:hover {
    background-color: #777;
}

/* Form styles */
.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;

}

footer.dark-mode {
    background-color: #222;
}

footer a {
    color: #f4f4f4;
}

footer a:hover {
    color: #ddd;
}
