body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

header, footer {
    background-color: #333;
    color: white;
}

main {
    flex: 1;
}

body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

header.dark-mode, footer.dark-mode {
    background-color: #222;
}

body.dark-mode .card-body {
    background-color: #444;
    color: #f4f4f4;
}

body.dark-mode .table-striped tbody tr td {
    background-color: #333;
    color: #f4f4f4;
}

button, .nav-link {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .nav-link:hover {
    background-color: #555;
}

button.dark-mode, .nav-link.dark-mode {
    background-color: #555;
    color: #f4f4f4;
}

button.dark-mode:hover, .nav-link.dark-mode:hover {
    background-color: #777;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer a {
    color: #f4f4f4;
}

footer a:hover {
    color: #ddd;
}

body.dark-mode .cv-card card {
    background-color: #444;
    color: #f4f4f4;
}

body.dark-mode .card {
    background-color: #444;
    color: #f4f4f4;
}

body.dark-mode .container .my-5 .cv-card.card.mt-4 .card-body {
    background-color: #444;
    color: #f4f4f4;
}

.fixed-width {
    max-height: 100px;
    overflow-y: auto;
    display: block;
}
